---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: -2em;
  position: relative;
  width: 60%;
  //height: 100px;
  //border: 3px solid #fff;
  //border-radius:100%;
}

div#magpies {
  font-weight: bold;
  margin-bottom: 1em;
  color: #777777;
  font-size: 16pt;
  font-family: 'Garamond', serif;
  font-style: italic;
}

div#magpies a{
  color: #777777;
}

div#aboutimages{
  float: right;
  width: 30%;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 2em;
}

.about-picture{
  width: 100%;
  border-radius: 10%;
}

